body #root input.toggle {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  z-index: 11;
}
body #root .toggle:checked + .hamburger > div {
  transform: rotate(135deg);
}
body #root .toggle:checked + .hamburger > div:before,
body #root .toggle:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}
body #root .toggle:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
body #root div.hamburger {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 50px;
  padding: 1rem;
  display: grid;
  place-items: center;
}
body #root div.hamburger > div {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: #fff;
  display: grid;
  place-content: center;
  transition: all 0.4s ease;
  border-radius: 5px;
}
body #root div.hamburger > div:before,
body #root div.hamburger > div:after {
  content: '';
  position: absolute;
  top: -8px;
  width: 100%;
  height: 3px;
  background: inherit;
  border-radius: 5px;
}
body #root div.hamburger > div:after {
  top: 8px;
}
body #root .toggle:checked ~ main nav .nav-wrap .nav-element-wrap {
  left: 0;
}
body #root .toggle:checked ~ main .main-container {
  left: 5%;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}
body #root nav div.nav-wrap {
  height: 100vh;
  position: absolute;
  left: 0;
  top: 50px;
  z-index: 4;
  display: grid;
  align-content: center;
}
body #root nav div.nav-wrap .nav-element-wrap {
  background: #042c41;
  height: 100vh;
  width: 100%;
  display: grid;
  align-content: center;
  position: fixed;
  left: -100%;
  overflow: hidden;
  transition: 0.4s ease;
}
body #root nav div.nav-wrap .nav-element-wrap .nav-elements a {
  display: grid;
  cursor: pointer;
  line-height: 2em;
  font-family: 'Courier New', Courier, monospace;
  color: #40a7db;
  font-size: 1.3em;
  text-decoration: transparent;
  border-top: 1px solid #18455e;
}
body #root nav div.nav-wrap .nav-element-wrap .nav-elements a:last-child {
  border-bottom: 1px solid #18455e;
}
body #root nav div.nav-wrap .nav-element-wrap .nav-elements > .active {
  color: #fff2f2;
}
